 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <!-- <div class="col-lg-12 text-center">
                    <h2>{{ site.about.header }}</h2>
                    <hr class="star-light">
                </div> -->
            </div>
            <div class="row">
                <div id="left" class="col-md-5 col-md-offset-1">
                    <p>{{ site.about.content.left }}</p>
                </div>
                <div class="col-md-5" id="night">
                    <p>{{ site.about.content.right }}</p>
                </div>
            </div>
            <div class="row">
              <div class="col-lg-12 text-center">
                <p>{{ site.about.content.bottom }}</p>
              </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                  <p>{{ site.about.content.bottom_disc }}</p>
                </div>
            </div>
            
            <div class="row" id="history">
                <div class="col-lg-12 text-center">
                    <h3>{{ site.about.history.header }}</h3>
                    <hr class="star-light">
                </div>
            </div>
            <!-- Below are My Journey section items -->
            <div class="row" id="history_items">
                <div class="col-md-4 col-xs-4">
                    <h4 class="text-center">{{ site.about.history.content.left.header }}</h4>
                    <ul>
                        {% for item in site.about.history.content.left.list %}
                            <li style="font-size:18px";>{{ item.item }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-md-4 col-xs-4">
                    <h4 class="text-center">{{ site.about.history.content.center.header }}</h4>
                    <ul>
                        {% for item in site.about.history.content.center.list %}
                            <li style="font-size:18px";>{{ item.item }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-md-4 col-xs-4">
                    <h4 class="text-center">{{ site.about.history.content.right.header }}</h4>
                    <ul>
                        {% for item in site.about.history.content.right.list %}
                            <li style="font-size:18px";>{{ item.item }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <div class="row">
                <div class="resume-button col-xs-8 col-xs-offset-2 text-center">
                    <a href="{{ site.about.button.href }}" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> {{ site.about.button.text }}
                    </a>
                </div>
            </div>

            <!-- Below are Skills section items -->
            <div class="row" id="interests">
                <div class="col-lg-12 text-center">
                    <h3>{{ site.about.interests.header }}</h3>
                    <hr class="star-wide">
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-md-offset-0 col-xs-4">
                    <h4 class="text-center">{{ site.about.interests.content.left.header }}</h4>
                    <ul>
                        {% for item in site.about.interests.content.left.list %}
                            <li style="font-size:16px";>{{ item.item }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-md-4 col-xs-4">
                    <h4 class="text-center">{{ site.about.interests.content.center.header }}</h4>
                    <ul>
                        {% for item in site.about.interests.content.center.list %}
                            <li style="font-size:16px";>{{ item.item }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-md-4 col-xs-4">
                    <h4 class="text-center">{{ site.about.interests.content.right.header }}</h4>
                    <ul>
                        {% for item in site.about.interests.content.right.list %}
                            <li style="font-size:16px";>{{ item.item }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="container"></div>
                <div class="row" id="tools">
                    <div class="col-lg-12 text-center">
                        <h3>{{ site.about.tools.header }}</h3>
                        <hr class="star-narrow">
                    </div>
                </div>
                {% for item in site.about.tools.list %}
                    <div class="col-md-2 col-xs-2">
                        {{ item.logo }}
                    </div>

                    {% assign loopindex = forloop.index | modulo: 6 %}
                    {% if loopindex == 0 %}
                    </div>
                    <div class="container">
                    {% endif%}

                {% endfor %}
            </div>
        </div>
    </section>
