    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-lg-offset-4 col-xs-6 col-xs-offset-3">
                    <img class="img-responsive" src="/img/profile.png" alt="">
                    <div class="intro-text">
                        <span class="name">{{ site.title }}</span>
                        <hr class="star-light">
                        <span class="skills">{{ site.description }}</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
