<!-- Portfolio Grid Section -->
<section class="port_grid" id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2>Portfolio</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="col-md-10 col-md-offset-1">
            {% for post in site.categories['portfolio'] %}
            <!-- The above for loops etc are written in liquid language, see https://shopify.github.io/liquid/ for docs -->
                <div class="col-md-4 portfolio-item">
                    <a href="#portfolioModal-{{ post.modal-id }}" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <!-- <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                             </div>  -->
                             <!--toggle this for portfolio magnifying glass favion -->
                        </div>
                        <img src="img/portfolio/{{ post.img }}" class="img-responsive" alt="{{ post.alt }}">
                    </a>
                    <p><a href="#portfolioModal-{{ post.modal-id }}" data-toggle="modal" class="port_caption">{{ post.title }}</a></p>
                </div>

                {% assign loopindex = forloop.index | modulo: 3 %}
                {% if loopindex == 0 %}
        </div>
        <div class="col-md-10 col-md-offset-1">
                {% endif%}
            {% endfor %}
        </div>
    </div>
</section>
